:root {
    --background-color: var(--dark-background-color);
    --content-color: var(--dark-content-color);
    --body-text-color: var(--dark-body-text-color);
    --content-text-color: var(--dark-content-text-color);
    --header-color: var(--dark-header-color);
    --background-image: var(--dark-background-image);
}

main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: left;
}

h1 {
    margin: 0;
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 1.2;
}